{% extends "layout.html" %}

{% block title %}Canvas - {{ canvas_info.name }}{% endblock %}

{% block main %}
<!-- Tooltip for pixel history -->
<div id="tooltip"></div>

<div class="row">
    <!-- UI Column -->
    <div class="col-md-2 text-center">
        <h4>Colors</h4>
        <div id="color-palette" class="d-flex flex-wrap justify-content-center mb-3"></div>
        <hr>
        <h5 class="mt-3">{{ canvas_info.name }}</h5>
        {% if is_owner %}
            <div class="mt-3">
                <h6>Owner Controls</h6>
                <form action="/toggle_public/{{ canvas_info.id }}" method="post">
                    <button type="submit" class="btn btn-sm {{ 'btn-warning' if canvas_info.is_public else 'btn-success' }}">
                        Make {{ 'Private' if canvas_info.is_public else 'Public' }}
                    </button>
                </form>
            </div>
        {% endif %}
    </div>

    <!-- Canvas -->
    <div class="col-md-10 d-flex justify-content-center align-items-center">
        <canvas id="pixel-canvas"
                data-canvas-id="{{ canvas_info.id }}"
                data-canvas-width="{{ canvas_info.width }}"
                data-canvas-height="{{ canvas_info.height }}"
                data-canvas-data='{{ canvas_info.canvas_data }}'
                data-is-community="{{ 'true' if canvas_info.is_community else 'false' }}"
        ></canvas>
    </div>
</div>

<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
<script src="/static/js/draw.js"></script>
{% endblock %}
